[Unit]
Description=SENTRY Pressure-Aware Resource Daemon
Documentation=https://github.com/apexajay-rc/SENTRY
After=sysinit.target local-fs.target
ConditionPathExists=/sys/fs/cgroup/cgroup.controllers
ConditionPathExists=/proc/pressure/memory

[Service]
Type=notify
WorkingDirectory=/opt/sentry
Environment="PYTHONPATH=/opt/sentry"

Environment="SUDO_UID=1000"
Environment="SUDO_GID=1000"

ExecStart=/opt/sentry/venv/bin/python /opt/sentry/daemon/main.py

Restart=on-failure
RestartSec=3
WatchdogSec=15s
TimeoutStopSec=10s
SendSIGKILL=yes

StandardOutput=journal
StandardError=journal


NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes


ProtectControlGroups=no
ReadWritePaths=/sys/fs/cgroup /run


MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes

PrivateNetwork=yes
RestrictAddressFamilies=AF_UNIX


CapabilityBoundingSet=CAP_SYS_RESOURCE 

RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
